body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #cfcfcf;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #ffffff;
}

.blog {
  padding-top: 50px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  
}

.post {}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  padding: 11px 20px 10px 20px;
  font-size: 32px;
  line-height: 39px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000000;
}

.textarea {
  resize: none;
  height: 250px;
  padding: 11px 20px 10px 20px;
  font-size: 32px;
  line-height: 39px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000000;
}

.button {
  display: block;
  width: 100%;
  padding: 9px 0 12px 0;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  background: #0094FF;
}

.chek{
  display: none;
  font-size: 25px;
  line-height: 30px;
  color: #FF0000;
}

.lenta__title{
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.lenta-box{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lenta-box + .lenta-box {
  margin-top: 60px;
}

.lenta-box__time{
  font-size: 25px;
  line-height: 30px;
  color: #0094FF;
}

.lenta-box__title{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.lenta-box__text{
  font-size: 25px;
  line-height: 30px;
}

.display{
  display: flex;
}